/* Home Page and Universal */
@font-face {
    font-family: "Anderson Torchy";
    src: url("../fonts/anderson_torchy_the_battery_boy-webfont.woff2") format("woff2"),
    url("../fonts/anderson_torchy_the_battery_boy-webfont.woff") format("woff");
}
@font-face {
    font-family: "Chickweed Tilting";
    src: url("../fonts/chickweed_titling-webfont.woff2") format("woff2"),
    url("../fonts/chickweed_titling-webfont.woff") format("woff");
}
@font-face {
    font-family: "Anderson Stingray";
    src: url("../fonts/anderson_stingray-webfont.woff2") format("woff2"),
    url("../fonts/anderson_stingray-webfont.woff") format("woff");
}
@font-face {
    font-family: "Komika Title";
    src: url("../fonts/komtit__-webfont.woff2") format("woff2"),
    url("../fonts/komtit__-webfont.woff") format("woff");
}
body {
    background-color: #000000;
}
.AFF-container {
    width: 1000px !important;
}
#AFF-left-col {
    background-color: #e3490b;
    width: 195px;
    padding-left: 0px;
    padding-right: 0px;
}
.AFF-HomeButton {
    background-image: url(../images/HomeButton_S.png);
    background-repeat: no-repeat;
    background-position: center top;
    text-align: center;
    margin: 5px;
}
.AFF-HomeButton a:hover {
    color: #e5c588;
    text-decoration: none;
}
.AFF-ParadeButton {
    background-image: url(../images/HomeButton_S.png);
    background-repeat: no-repeat;
    background-position: center top;
    text-align: center;
    margin: 5px;
}
.AFF-ParadeButton a:hover {
    color: #e5c588;
    text-decoration: none;
}
#AFF-DateBanners {
    margin: 20px 0px 5px 0px;
}
.AFF-SpecialAnnouncements {
    background-image: url(../images/SpecialAnnouncementsBanner_S.png);
    background-repeat: no-repeat;
    background-position: center top;
    padding: 177px 1px 177px 23px;
}
.AFF-SpecialAnnouncements-Content {
    font-family: Chickweed Tilting, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #e3490b;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
    line-height: 20px;
}
.AFF-Poem {
    margin-bottom: 8px !important;
}
.AFF-Indent {
    text-indent: 13px;
}
.AFF-StarButtons {
    width: 100%;
    text-align: center;
    padding: 15px 0px;
    position: relative;
}
.AFF-Left-Images {
    margin-bottom: 10px;
}
.AFF-Star {
    position: relative;
    display: block;
    height: 180px;
}
#AFF-DonateButton {
    width: 139px;
    height: 166px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%) scale(1,1);
    transition: all 0.3s ease;
}
#AFF-DonateButton:hover {
    transform: translate(-50%, -50%) scale(1.1,1.1);
}
#AFF-ShopButton {
    width: 143px;
    height: 175px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%) scale(1,1);
    transition: all 0.3s ease;
}
#AFF-ShopButton:hover {
    transform: translate(-50%, -50%) scale(1.1,1.1);
}
#AFF-mid-col {
    background-color: #e59908;
    width: 640px;
    padding-bottom: 230px;
}
.AFF-Nav {
    width: 100%;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 10;
}
.AFF-nav-link, .AFF-Nav li a{
    font-family: Anderson Torchy, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 17px;
    color: #000000;
    margin: auto;
}
.AFF-Nav a:hover {
    color: #e5c588;
    text-decoration: none;
}
.AFF-Active a {
    font-family: Anderson Torchy, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 17px;
    color: #e3490b;
    margin: auto;
}
.AFF-Nav-Col, .AFF-Nav li {
    padding: 0px !important;
    text-align: center;
}
.AFF-GenericBodyContent {
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    position: relative;
    top: 219px;
    left: 0;
    padding-top: 65px;
}
.AFF-MainBodyContent {
    background-image: url(../images/FrameHP.png);
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    position: relative;
    top: 219px;
    left: 0;
    padding-top: 481px;
}
#AFF-HeaderLogo {
    position: absolute;
    top: 29px;
    left: 10px;
    z-index: 2;
}
#AFF-BottomLeftStars {
    position: absolute;
    top: 250px;
    left: -20px;
    z-index: 2;
}
#AFF-FeaturingArrow {
    position: absolute;
    top: 310px;
    left: -15px;
    z-index: 1;
}
.AFF-Tents {
    width: 570px;
}
.AFF-TentContainer {
    margin: 0px !important;
    padding: 0px !important;
}
.AFF-Tent {
    background-image: url(../images/Tent01_S.png);background-repeat: no-repeat;
    background-position: center top;
    text-align: center;
    height: 256px;
}
.AFF-Tent-1 {
    background-image: url(../images/Tent01_S.png) !important;
}
.AFF-Tent-2 {
    background-image: url(../images/Tent02_S.png) !important;
}
.AFF-Tent-3 {
    background-image: url(../images/Tent03_S.png) !important;
}
.AFF-Tent-4 {
    background-image: url(../images/Tent04_S.png) !important;
}
.AFF-Tent-5 {
    background-image: url(../images/Tent05_S.png) !important;
}
.AFF-Tent-6 {
    background-image: url(../images/Tent06_S.png) !important;
}
.AFF-Tent-Image {
    margin-top: 100px;
}
h3 {
    font-family: Anderson Torchy, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 12px;
    color: #e3490b;
}
h3 a {
    font-family: Anderson Torchy, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 12px;
    color: #e3490b;
}
h3 a:hover {
    font-family: Anderson Torchy, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 12px;
    color: #000000;
    text-decoration: none;
}
.AFF-SupportFooter {
    margin-top: 40px;
    text-align: center;
}
h4 {
    font-family: superclarendon, serif;
    font-style: italic;
    font-weight: 700;
    font-size: 10px;
    color: #e3490b;
    margin-top: 10px;
}
#AFF-right-col {
    background-color: #e3490b;
    text-align: center;
    width: 165px;
}
#AFF-SupportArrow {
    margin-top: 20px;
}
.AFF-Sponsor {
    background-color: #e5c588;
    border: 1px solid #e5c588;
    border-radius: 5px;
    width: 115px;
    height: 115px;
    margin: 10px auto 20px;
    display: flex;
    align-items: center;
}
.AFF-SponsorLogo {
    width: 114px;
}
.AFF-Thanks {
    text-align: left;
    padding-left: 25px;
    margin-top: 20px;
}
.AFF-Thanks li {
    list-style-type: none;
    margin-bottom: 6px;
}
.AFF-Thanks-Name {
    font-family: Anderson Stingray, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #e59908;
}
.AFF-Thanks-Name a:link{
    color: #e59908;
}
.AFF-Thanks-Name a:link:hover{
    color: #000000;
}
/* Contests Page Specific */
.AFF-EntrySteps {
    background-image: url(../images/EnterBanner.png);
    background-repeat: no-repeat;
    background-position: center top;
    padding: 160px 1px 130px 0px;
    margin-top: 160px;
}
.AFF-EntrySteps-Content {
    font-family: Komika Title, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #e3490b;
    text-align: center;
    margin-left: -10px;
    font-size: 14px;
    line-height: 20px;
}
#AFF-ContestBottomStar {
    position: absolute;
    top: 390px;
    left: 20px;
}
#AFF-ContestsHeader {
    position: absolute;
    top: 30px;
    left: -190px;
    z-index: 2;
}
.AFF-ContestBody {
    width: 100%;
    position: relative;
    top: 219px;
    left: 0;
}
#AFF-ContestMiddleStar {
    position: absolute;
    top: 550px;
    left: -50px;
}
.AFF-ContestContainer{
    position: relative;
}
.AFF-ContestC01 {
    background-image: url(../images/ContestBack01.png);
    background-repeat: no-repeat;
    background-position: center top;
    height: 251px;
}
.AFF-ContestC02 {
    background-image: url(../images/ContestBack02.png);
    background-repeat: no-repeat;
    background-position: center top;
    height: 263px;
}
.AFF-ContestTitle01 {
    font-family: Chickweed Tilting, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #000000;
    text-align: left;
    margin-left: 10px;
    margin-right: auto;
    font-size: 40px;
    padding-left: 210px;
    padding-top: 25px;
}
.AFF-ContestInfo01 {
    font-family: Komika Title, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #e59908;
    text-align: left;
    margin-left: 10px;
    margin-right: auto;
    font-size: 15px;
    padding-left: 210px;
    position: relative;
}
.AFF-ContestTitle02 {
    font-family: Chickweed Tilting, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #000000;
    text-align: left;
    margin-left: 10px;
    margin-right: auto;
    font-size: 40px;
    padding-left: 50px;
    padding-top: 35px;
}
.AFF-ContestInfo02 {
    font-family: Komika Title, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #e59908;
    text-align: left;
    margin-left: 10px;
    margin-right: auto;
    font-size: 15px;
    padding-left: 50px;
    position: relative;
}
.AFF-Contest-Image01{
    position: absolute;
    top: 102px;
    left: 42px;
}
.AFF-Contest-Image02{
    position: absolute;
    top: 114px;
    right: 40px;
}
.AFF-Indent01 {
    text-indent: 10px;
}
.AFF-Indent02 {
    text-indent: 15px;
}
.AFF-Indent03 {
    text-indent: 20px;
}
.AFF-Indent04 {
    text-indent: 25px;
}
.AFF-Indent05 {
    text-indent: 30px;
}
.AFF-EntryFormBtn01 {
    position: absolute;
    top: 110px;
    left: 450px;
    z-index: 1;
}
.AFF-EntryFormBtn02 {
    position: absolute;
    top: 140px;
    left: 20px;
    z-index: 1;
}
/* Main Stage Page Specific */
#AFF-MainStageHeader {
    position: absolute;
    top: 30px;
    left: -190px;
    z-index: 2;
}
.AFF-MainStageBody {
    width: 100%;
    position: relative;
    top: 219px;
    left: 0;
}
.AFF-MSTents {
    width: 570px;
}
.AFF-MSTentContainer {
    margin: 0px !important;
    padding: 0px !important;
}
.AFF-MSTent {
    background-image: url(../images/Tent01_S.png);background-repeat: no-repeat;
    background-position: center top;
    text-align: center;
}
.AFF-MainStageBanner {
    background-image: url(../images/LeftBanner.png);
    background-repeat: no-repeat;
    background-position: center top;
    padding: 160px 1px 130px 0px;
    margin-top: 160px;
    height: 691px;
}
.AFF-MSBanner-Content {
    font-family: Komika Title, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #e3490b;
    text-align: center;
    margin-left: -10px;
    font-size: 14px;
    line-height: 20px;
}
#AFF-MSRightStar01 {
    position: absolute;
    top: 370px;
    left: 550px;
    z-index: 2;
}
#AFF-MSLeftStars {
    position: absolute;
    top: 540px;
    left: -70px;
    z-index: 2;
}
#AFF-MSRightStars02 {
    position: absolute;
    top: 760px;
    left: 360px;
    z-index: 2;
}
/* Artists Page Specific */
#AFF-ArtistsHeader {
    position: absolute;
    top: 30px;
    left: -190px;
    z-index: 2;
}
.AFF-ArtistsBody {
    width: 100%;
    position: relative;
    top: 219px;
    left: 0;
}
.AFF-ArtistsTents {
    width: 570px;
}
.AFF-ArtTentContainer {
    margin: 0px !important;
    padding: 0px !important;
}
.AFF-ArtistsTent {
    background-image: url(../images/Tent01_S.png);background-repeat: no-repeat;
    background-position: center top;
    text-align: center;
}
.AFF-ArtistsBanner {
    background-image: url(../images/LeftBanner.png);
    background-repeat: no-repeat;
    background-position: center top;
    padding: 125px 1px 130px 0px;
    margin-top: 160px;
    height: 691px;
}
.AFF-ArtBanner-Content {
    font-family: Komika Title, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #e3490b;
    text-align: center;
    margin-left: -10px;
    font-size: 20px;
    line-height: 24px;
}
.AFF-ArtBanner-Content h3 {
    font-family: Anderson Stingray, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #000000;
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 20px;
}
.AFF-ArtBanner-Content h4 {
    font-family: Anderson Stingray, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #e5c588;
    text-align: left;
    margin-left: -10px;
    font-size: 25px;
    line-height: 20px;
}
#AFF-h4a {
    text-indent: 60px;
}
#AFF-h4b {
    text-indent: 65px;
}
#AFF-h4c {
    text-indent: 70px;
}
#AFF-MSRightStar01 {
    position: absolute;
    top: 370px;
    left: 550px;
    z-index: 2;
}
#AFF-MSLeftStars {
    position: absolute;
    top: 540px;
    left: -70px;
    z-index: 2;
}
#AFF-MSRightStars02 {
    position: absolute;
    top: 760px;
    left: 360px;
    z-index: 2;
}
/* Crafts Page Specific */
#AFF-CraftsHeader {
    position: absolute;
    top: 30px;
    left: -190px;
    z-index: 2;
}
.AFF-CraftsBody {
    width: 100%;
    position: relative;
    top: 219px;
    left: 0;
}
.AFF-CraftsTents {
    width: 570px;
}
.AFF-CraftsTentContainer {
    margin: 0px !important;
    padding: 0px !important;
}
.AFF-CraftsTent {
    background-image: url(../images/Tent01_S.png);background-repeat: no-repeat;
    background-position: center top;
    text-align: center;
}
.AFF-CraftsBanner {
    background-image: url(../images/LeftBanner.png);
    background-repeat: no-repeat;
    background-position: center top;
    padding: 165px 1px 130px 0px;
    margin-top: 160px;
    height: 691px;
}
.AFF-CraftsBanner-Content {
    font-family: Komika Title, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #e3490b;
    text-align: center;
    margin-left: -10px;
    font-size: 20px;
    line-height: 27px;
}
.AFF-CraftsBanner-Content h3 {
    font-family: Chickweed Tilting, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #e3490b;
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 20px;
}
#AFF-MSRightStar01 {
    position: absolute;
    top: 370px;
    left: 550px;
    z-index: 2;
}
#AFF-MSLeftStars {
    position: absolute;
    top: 540px;
    left: -70px;
    z-index: 2;
}
#AFF-MSRightStars02 {
    position: absolute;
    top: 760px;
    left: 360px;
    z-index: 2;
}
/* Act Page Specific */
.AFF-ActName {
    position: absolute;
    width: 359px;
    height: 57px;
    top: 194px;
    left: 150px;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}
.AFF-ActName h1 {
    font-family: Chickweed Tilting, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #e3490b;
    text-align: center;
    font-size: 30px;
}
#AFF-Frame {
    margin-top: 40px;
}
.AFF-MainStageBody p {
    font-family: Komika Title, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #000000;
    text-align: left;
    font-size: 15px;
    margin: 30px auto 10px auto;
    width: 500px;
}