/* Home Page and Universal */
@font-face {
    font-family: "Anderson Torchy";
    src: url("../fonts/anderson_torchy_the_battery_boy-webfont.woff2") format("woff2"),
    url("../fonts/anderson_torchy_the_battery_boy-webfont.woff") format("woff");
}
@font-face {
    font-family: "Chickweed Tilting";
    src: url("../fonts/chickweed_titling-webfont.woff2") format("woff2"),
    url("../fonts/chickweed_titling-webfont.woff") format("woff");
}
@font-face {
    font-family: "Anderson Stingray";
    src: url("../fonts/anderson_stingray-webfont.woff2") format("woff2"),
    url("../fonts/anderson_stingray-webfont.woff") format("woff");
}
@font-face {
    font-family: "Komika Title";
    src: url("../fonts/komtit__-webfont.woff2") format("woff2"),
    url("../fonts/komtit__-webfont.woff") format("woff");
}
body {
    background-color: #000000;
}
/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

a, 
a:link,
a:visited {
    color: #000000;
}
a:hover {
    color: #e5c588;
    text-decoration: none;
}

h1 {
    font-family: Chickweed Tilting, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #000000;
    font-size: 30px;
}
h2 {
    font-family: Chickweed Tilting, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #000000;
    font-size: 24px;
}
h3 {
    font-family: Chickweed Tilting, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #000000;
    font-size: 18px;
}

.list-dot {
    display:inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../images/ListDot.png);
    background-repeat: no-repeat;
    background-position: center top;
}

.AFF-container {
    width: 1000px !important;
    min-width: 1000px !important;
}
#AFF-left-col {
    background-color: #e3490b;
    width: 195px;
    padding-left: 0px;
    padding-right: 0px;
}
#AFF-SmallBasicHeader {
    margin-left: -190px;
    position: relative;
    z-index: 1;
}
.AFF-SidebarSmallBasicHeader{
    height:200px;
}
.AFF-HomeButton {
    background-image: url(../images/HomeButton_S.png);
    background-repeat: no-repeat;
    background-position: center top;
    text-align: center;
    margin: 5px;
}
.AFF-HomeButton a:hover {
    color: #e5c588;
    text-decoration: none;
}
.AFF-ParadeButton {
    background-image: url(../images/HomeButton_S.png);
    background-repeat: no-repeat;
    background-position: center top;
    text-align: center;
    margin: 5px;
}
.AFF-ParadeButton a:hover {
    color: #e5c588;
    text-decoration: none;
}
#AFF-DateBanners {
    margin: 20px 0px 5px 0px;
}
.AFF-SpecialAnnouncements {
    background-image: url(../images/SpecialAnnouncementsBanner_S.png);
    background-repeat: no-repeat;
    background-position: center top;
    padding: 177px 1px 177px 23px;
}
.AFF-SpecialAnnouncements-Content {
    font-family: Chickweed Tilting, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #e3490b;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    font-size: 10px;
    line-height: 20px;
}
.AFF-Poem {
    margin-bottom: 8px !important;
}

.AFF-Indent {
    text-indent: 13px;
}
.AFF-StarButtons {
    width: 100%;
    text-align: center;
    padding: 15px 0px;
    position: relative;
}
.AFF-Left-Images {
    margin-bottom: 10px;
}
.AFF-Star {
    position: relative;
    display: block;
    height: 180px;
}
#AFF-DonateButton {
    width: 139px;
    height: 166px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%) scale(1,1);
    transition: all 0.3s ease;
}
#AFF-DonateButton:hover {
    transform: translate(-50%, -50%) scale(1.1,1.1);
}
#AFF-ShopButton {
    width: 143px;
    height: 175px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%) scale(1,1);
    transition: all 0.3s ease;
}
#AFF-ShopButton:hover {
    transform: translate(-50%, -50%) scale(1.1,1.1);
}
#AFF-mid-col {
    background-color: #e59908;
    width: 640px;
}
.AFF-Nav {
    width: 100%;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 10;
}
.AFF-nav-link, .AFF-Nav li a,
.nav-links a{
    font-family: Anderson Torchy, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: lowercase !important;
    font-size: 17px;
    color: #000000;
    margin: auto;
}
.AFF-Nav a:hover,
.nav-links a:hover {
    color: #e5c588;
    text-decoration: none;
}
.nav-links{
    margin-top:25px;
}
.AFF-Active a {
    font-family: Anderson Torchy, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: lowercase !important;
    font-size: 17px;
    color: #e3490b;
    margin: auto;
}
.AFF-Nav-Col, .AFF-Nav li {
    padding: 0px !important;
    text-align: center;
}
.AFF-GenericBodyContent {
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    position: relative;
    left: 0;
    padding-bottom: 50px;
}
.AFF-MainBodyContent {
    background-image: url(../images/FrameHP.png);
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    position: relative;
    padding-top: 481px;
    padding-bottom: 50px;
    margin-top: -80px;
}
#AFF-HeaderLogo {
    position: relative;
    
    z-index: 2;
}
#AFF-BottomLeftStars {
    position: absolute;
    top: 250px;
    left: -20px;
    z-index: 2;
}
#AFF-FeaturingArrow {
    position: absolute;
    top: 310px;
    left: -15px;
    z-index: 3;
}
.AFF-Tents {
    width: 570px;
}
.AFF-TentContainer {
    margin: 0px !important;
    padding: 0px !important;
}
.AFF-Tent {
    background-image: url(../images/Tent01_S.png);background-repeat: no-repeat;
    background-position: center top;
    text-align: center;
    height: 256px;
}
.AFF-Tent a,
.AFF-Tent a:link,
.AFF-Tent a:visited,
.AFF-ArtistsTent a,
.AFF-ArtistsTent a:link,
.AFF-ArtistsTent a:visited,
.AFF-CraftsTent a,
.AFF-CraftsTent a:link,
.AFF-CraftsTent a:visited{
    color: #e3490b;
}
.AFF-Tent a:hover,
.AFF-ArtistsTent a:hover,
.AFF-CraftsTent a:hover{
    color: #000000;
}
.AFF-Tent-1 {
    background-image: url(../images/Tent01_S.png) !important;
}
.AFF-Tent-2 {
    background-image: url(../images/Tent02_S.png) !important;
}
.AFF-Tent-3 {
    background-image: url(../images/Tent03_S.png) !important;
}
.AFF-Tent-4 {
    background-image: url(../images/Tent04_S.png) !important;
}
.AFF-Tent-5 {
    background-image: url(../images/Tent05_S.png) !important;
}
.AFF-Tent-6 {
    background-image: url(../images/Tent06_S.png) !important;
}
.AFF-Tent-Image {
}
.AFF-ActPerformances h2,
.AFF-MSTents h2 {
    text-align: center;
    color: #e3490b;
    font-size: 30px;
    margin: 20px 0 0;
}
.AFF-ActPerformances p,
.AFF-MSTents p{
    text-align: center !important;
}
.AFF-Act-FrameContent{
    position: absolute;
    left: 62px;
    top: 20px;
    width: 503px;
    height: 307px;
}

.AFF-MainStage-Performace{
    position: relative;
}


.AFF-MainStage-Performace .AFF-Act-FrameContent{
    left: 22px;
    top: 78px;
}


.AFF-Tent-ImageContainer{
    margin: 100px auto 0;
    height: 132px;
    width: 132px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Chickweed Tilting, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #e3490b;
    text-align: center;
    font-size: 32px;
}
.AFF-Tent-Upcoming .AFF-Tent-ImageContainer,
.AFF-Tent-Upcoming h3{
    color: #333333 !important;
}
.AFF-Tent h3,
.AFF-ArtistsTent h3,
.AFF-CraftsTent h3 {
    font-family: Anderson Torchy, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: lowercase !important;
    font-size: 12px;
    color: #e3490b;
    margin-top: 5px;
}
.AFF-Tent h3 a,
.AFF-ArtistsTent h3 a,
.AFF-CraftsTent h3 a {
    font-family: Anderson Torchy, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: lowercase !important;
    font-size: 12px;
    color: #e3490b;
}
.AFF-Tent h3 a:hover,
.AFF-ArtistsTent h3 a:hover,
.AFF-CraftsTent h3 a:hover {
    font-family: Anderson Torchy, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: lowercase !important;
    font-size: 12px;
    color: #000000;
    text-decoration: none;
}
.AFF-SupportFooter {
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin-top: 40px;
    text-align: center;
}
h4 {
    font-family: superclarendon, serif;
    font-style: italic;
    font-weight: 700;
    font-size: 10px;
    color: #e3490b;
    margin-top: 10px;
}
#AFF-right-col {
    background-color: #e3490b;
    text-align: center;
    width: 165px;
}
#AFF-right-col-blank {
    background-color: #e59908;
    text-align: center;
    width: 165px;
}
#AFF-SupportArrow {
    margin-top: 20px;
}
.AFF-Sponsor {
    background-color: #e5c588;
    border: 1px solid #e5c588;
    border-radius: 5px;
    width: 115px;
    height: 115px;
    margin: 10px auto 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.AFF-Sponsor-Small{
    height: 65px;
}
.AFF-SponsorLogo {
    width: 114px;
}
.AFF-Thanks {
    text-align: left;
    margin-top: 20px;
}
.AFF-Thanks li {
    list-style-type: none;
    margin-bottom: 6px;
}
.AFF-Thanks-Name {
    font-family: Anderson Stingray, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #e59908;
}
.AFF-Thanks-Name a,
.AFF-Thanks-Name a:link,
.AFF-Thanks-Name a:visited{
    color: #e59908;
}
.AFF-Thanks-Name a:hover{
    color: #000000;
}
/* Contests Page Specific */
.AFF-EntrySteps {
    background-image: url(../images/EnterBanner.png);
    background-repeat: no-repeat;
    background-position: center top;
    padding: 160px 1px 130px 0px;
    margin-top: 160px;
}
.AFF-EntrySteps-Content {
    font-family: Komika Title, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #e3490b;
    text-align: center;
    margin-left: -10px;
    font-size: 14px;
    line-height: 20px;
}
#AFF-ContestBottomStar {
    position: absolute;
    top: 390px;
    left: 20px;
}
#AFF-ContestsHeader {
    position: relative;
    margin-left: -190px;
    z-index: 2;
}
.AFF-ContestBody {
    width: 100%;
    position: relative;
    padding-bottom:50px;
}
#AFF-ContestMiddleStar {
    position: absolute;
    top: 550px;
    left: -50px;
}
.AFF-ContestContainer{
    position: relative;
}
.AFF-ContestC01 {
    background-image: url(../images/ContestBack01.png);
    background-repeat: no-repeat;
    background-position: center top;
    height: 251px;
}
.AFF-ContestC02 {
    background-image: url(../images/ContestBack02.png);
    background-repeat: no-repeat;
    background-position: center top;
    height: 263px;
}
.AFF-ContestTitle01 {
    font-family: Chickweed Tilting, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #000000;
    text-align: left;
    margin-left: 10px;
    margin-right: auto;
    font-size: 40px;
    padding-left: 210px;
    padding-top: 25px;
}
.AFF-ContestInfo01 {
    font-family: Komika Title, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #e59908;
    text-align: left;
    margin-left: 10px;
    margin-right: auto;
    font-size: 15px;
    padding-left: 210px;
    position: relative;
}
.AFF-ContestTitle02 {
    font-family: Chickweed Tilting, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #000000;
    text-align: left;
    margin-left: 10px;
    margin-right: auto;
    font-size: 40px;
    padding-left: 50px;
    padding-top: 35px;
}
.AFF-ContestInfo02 {
    font-family: Komika Title, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #e59908;
    text-align: left;
    margin-left: 10px;
    margin-right: auto;
    font-size: 15px;
    padding-left: 50px;
    position: relative;
}
.AFF-Contest-Image01{
    position: absolute;
    top: 102px;
    left: 42px;
}
.AFF-Contest-Image02{
    position: absolute;
    top: 114px;
    right: 40px;
}
.AFF-Indent01 {
    text-indent: 10px;
}
.AFF-Indent02 {
    text-indent: 15px;
}
.AFF-Indent03 {
    text-indent: 20px;
}
.AFF-Indent04 {
    text-indent: 25px;
}
.AFF-Indent05 {
    text-indent: 30px;
}
.AFF-EntryFormBtn01 {
    position: absolute;
    top: 110px;
    left: 450px;
    z-index: 1;
}
.AFF-EntryFormBtn02 {
    position: absolute;
    top: 140px;
    left: 20px;
    z-index: 1;
}
/* Main Stage Page Specific */
#AFF-MainStageHeader {
    margin-left: -190px;
    z-index: 2;
    position: relative;
}
.AFF-MainStageBody {
    width: 100%;
    position: relative;
    padding-bottom:30px;
}
.AFF-MSTents {
    width: 570px;
}
.AFF-MSTentContainer {
    margin: 0px !important;
    padding: 0px !important;
}
.AFF-MSTent {
    background-image: url(../images/Tent01_S.png);background-repeat: no-repeat;
    background-position: center top;
    text-align: center;
}
.AFF-MainStageBanner {
    background-image: url(../images/LeftBanner.png);
    background-repeat: no-repeat;
    background-position: center top;
    padding: 160px 32px 130px 19px;
    margin-top: 160px;
    height: 691px;
}
.AFF-MSBanner-Content {
    font-family: Komika Title, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #e3490b;
    text-align: center;
    margin-left: -10px;
    font-size: 14px;
    line-height: 20px;
}
.AFF-SpecialAnnouncements-History-Header{
    font-family: Chickweed Tilting, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 10px;
}
.AFF-SpecialAnnouncements-History{
    font-family: Komika Title, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #e3490b;
    text-align: center;
    margin-left: -10px;
    margin-top: 0px;
    padding-top: 128px;
    font-size: 18px;
    line-height: 22px;
}
.AFF-SpecialAnnouncements-History-Email{
    background-image: url(../images/HistoryEmailRibbon.png);background-repeat: no-repeat;
    background-position: center top;
    width: 227px;
    height: 31px;
    z-index: 1;
    position: relative;
    margin-left: -9px;
    margin-top: 10px;
    font-size: 15px;
    padding: 7px;
    line-height: 15px;
    text-align: left;
}
.AFF-SpecialAnnouncements-History-Email a,
.AFF-SpecialAnnouncements-History-Email a:link {
    color: #e59908;
}
#AFF-MSRightStar01 {
    position: absolute;
    top: 370px;
    left: 550px;
    z-index: 2;
}
#AFF-MSLeftStars {
    position: absolute;
    top: 540px;
    left: -70px;
    z-index: 2;
}
#AFF-MSRightStars02 {
    position: absolute;
    top: 760px;
    left: 360px;
    z-index: 2;
}
/* Artists Page Specific */
#AFF-ArtistsHeader {
    position: relative;
    margin-left: -190px;
    z-index: 2;
}
.AFF-ArtistsBody {
    width: 100%;
    position: relative;
}
.AFF-ArtistsTents {
    width: 570px;
}
.AFF-ArtTentContainer {
    margin: 0px !important;
    padding: 0px !important;
}
.AFF-ArtistsTent {
    background-image: url(../images/Tent01_S.png);background-repeat: no-repeat;
    background-position: center top;
    text-align: center;
}
.AFF-ArtistsBanner {
    background-image: url(../images/LeftBanner.png);
    background-repeat: no-repeat;
    background-position: center top;
    padding: 125px 1px 130px 0px;
    margin-top: 160px;
    height: 691px;
}
.AFF-ArtBanner-Content {
    font-family: Komika Title, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #e3490b;
    text-align: center;
    margin-left: -10px;
    font-size: 20px;
    line-height: 24px;
}
.AFF-ArtBanner-Content h3 {
    font-family: Anderson Stingray, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #000000;
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 20px;
}
.AFF-ArtBanner-Content h4 {
    font-family: Anderson Stingray, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #e5c588;
    text-align: left;
    margin-left: -10px;
    font-size: 25px;
    line-height: 20px;
}
#AFF-h4a {
    text-indent: 60px;
}
#AFF-h4b {
    text-indent: 65px;
}
#AFF-h4c {
    text-indent: 70px;
}
#AFF-MSRightStar01 {
    position: absolute;
    top: 370px;
    left: 550px;
    z-index: 2;
}
#AFF-MSLeftStars {
    position: absolute;
    top: 540px;
    left: -70px;
    z-index: 2;
}
#AFF-MSRightStars02 {
    position: absolute;
    top: 760px;
    left: 360px;
    z-index: 2;
}
/* Crafts Page Specific */
#AFF-CraftsHeader {
    position: relative;
    margin-left: -190px;
    z-index: 2;
}
.AFF-CraftsBody {
    width: 100%;
    position: relative;
}
.AFF-CraftsTents {
    width: 570px;
}
.AFF-CraftsTentContainer {
    margin: 0px !important;
    padding: 0px !important;
}
.AFF-CraftsTent {
    background-image: url(../images/Tent01_S.png);background-repeat: no-repeat;
    background-position: center top;
    text-align: center;
}
.AFF-CraftsBanner {
    background-image: url(../images/LeftBanner.png);
    background-repeat: no-repeat;
    background-position: center top;
    padding: 165px 1px 130px 0px;
    margin-top: 160px;
    height: 691px;
}
.AFF-CraftsBanner-Content {
    font-family: Komika Title, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #e3490b;
    text-align: center;
    margin-left: -10px;
    font-size: 20px;
    line-height: 27px;
}
.AFF-CraftsBanner-Content h3 {
    font-family: Chickweed Tilting, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #e3490b;
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 20px;
}
.AFF-CraftSignoff{
    font-family: Chickweed Tilting, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #e3490b;
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
}
#AFF-MSRightStar01 {
    position: absolute;
    top: 370px;
    left: 550px;
    z-index: 2;
}
#AFF-MSLeftStars {
    position: absolute;
    top: 540px;
    left: -70px;
    z-index: 2;
}
#AFF-MSRightStars02 {
    position: absolute;
    top: 760px;
    left: 360px;
    z-index: 2;
}
/* Act Page Specific */
.AFF-ActName {
    position: absolute;
    width: 359px;
    height: 57px;
    top: 210px;
    left: 150px;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}
.AFF-ActName h1 {
    font-family: Chickweed Tilting, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #e3490b;
    text-align: center;
    font-size: 30px;
}
#AFF-Frame {
    margin-top: -40px;
}
.AFF-Past-Performances #AFF-Frame{
    margin: 20px 0 0 -40px;
}
.AFF-MainStageBody p {
    font-family: Komika Title, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #000000;
    text-align: left;
    font-size: 15px;
    margin: 30px auto 10px auto;
    width: 500px;
}

/* Posts */
.post .entry-title {
    font-family: Chickweed Tilting, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #000000;
}
.post .entry-title a, 
.post .entry-title a:link {
    color: #000000;
    font-size: 40px;
}
.post .entry-title a:hover {
    color: #e5c588;
    text-decoration: none;
}

/* Post */

.post .entry-content img {
    max-width: 100%;
    height: auto;
}

.post .entry-content {
    font-family: sans-serif;
    text-justify: newspaper;
    color: #000000;
}

/* History */

#AFF-HistoryBottomStar {
    position: absolute;
    top: 390px;
    left: 20px;
}
#AFF-HistorysHeader {
    position: relative;
    margin-left: -190px;
    z-index: 2;
}
.AFF-HistoryBody {
    width: 100%;
    padding-bottom: 50px;
}
#AFF-HistoryMiddleStar {
    position: absolute;
    top: 550px;
    left: -50px;
}
.AFF-HistoryContainer{
    position: relative;
    margin-top:10px;
}
.AFF-HistoryC01 {
    background-image: url(../images/ContestBack01.png);
    background-repeat: no-repeat;
    background-position: center top;
    height: 251px;
}
.AFF-HistoryC02 {
    background-image: url(../images/ContestBack02.png);
    background-repeat: no-repeat;
    background-position: center top;
    height: 263px;
}
.AFF-HistoryTitle01 {
    font-family: Chickweed Tilting, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #000000;
    text-align: left;
    margin-left: 10px;
    margin-right: auto;
    font-size: 25px;
    padding-left: 188px;
    padding-top: 35px;
}
.AFF-HistoryInfo01 {
    font-family: Komika Title, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #e59908;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
    padding-left: 188px;
    position: relative;
}
.AFF-HistoryTitle02 {
    font-family: Chickweed Tilting, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #000000;
    text-align: left;
    margin-left: 10px;
    margin-right: auto;
    font-size: 25px;
    padding-left: 50px;
    padding-top: 48px;
}
.AFF-HistoryInfo02 {
    font-family: Komika Title, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #e59908;
    text-align: left;
    margin-top:4px;
    margin-left: 0px;
    margin-right: 187px;
    font-size: 15px;
    padding-left: 44px;
    position: relative;
}
.AFF-HistoryC01 .wp-post-image{
    position: absolute;
    top: 102px;
    left: 42px;
    z-index: 1;
}
.AFF-HistoryC02 .wp-post-image{
    position: absolute;
    top: 114px;
    right: 40px;
    z-index: 1;
}
.AFF-HistoryBtn01 {
    position: absolute;
    top: 148px;
    left: 450px;
    z-index: 1;
}
.AFF-HistoryBtn02 {
    position: absolute;
    top: 152px;
    left: 20px;
    z-index: 1;
}

#AFF-FrameContent{
    width: 467px;
    height: 279px;
    position: absolute;
    left: 77px;
    top: 54px;
    z-index: 2;
}

.AFF-FrameContent-Item{
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    transition: opacity .33s ease-in-out;
    -moz-transition: opacity .33s ease-in-out;
    -webkit-transition: opacity .33s ease-in-out;
    z-index: 0;
}

.AFF-FrameContent-Item-Active{
    opacity: 1;
    z-index: 1;
}

/* CraftSub Page Specific */
.AFF-CraftName {
    position: absolute;
    width: 359px;
    height: 57px;
    top: 214px;
    left: 223px;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}
.AFF-CraftName h2 {
    font-family: Chickweed Tilting, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #e3490b;
    text-align: center;
    font-size: 30px;
}
#AFF-CraftsHeaderSub {
    position: relative;
    margin-left: -135px;
    z-index: 2;
}

.circular-logo {
    position: relative;
    width: 177px;
    height: 177px;
    overflow: hidden;
    border-radius: 50%;
}
  
.circular--logo img {
    width: 100%;
    height: auto;
}

.AFF-SponsorCircle {
    position: absolute;
    top: 247px;
    left: 560px;
    z-index: 1;
}
.AFF-CraftsSubBody {
    width: 100%;
    position: relative;
}
.AFF-CraftContainer {
    width: 100%;
    margin-left: -140px;
    margin-top: 30px;
}
.AFF-CraftContainer .row {
    margin-bottom: 30px;
}
.AFF-CraftStepPhotoContainer {
    background-color: #e5c588;
    padding: 10px;
    text-align: center;
    height: 182px;
    width: 182px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.AFF-CraftStepPhoto{
}
.AFF-CraftStepContainer{
    width: 590px;
}
.AFF-CraftStepContainer h3 {
    font-family: Anderson Torchy, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: lowercase !important;
    color: #e3490b;
    text-align: left;
    font-size: 25px;
}
.AFF-CraftStepContainer, .AFF-CraftStepContainer p {
    font-family: Komika Title, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #000000;
    text-align: left;
    font-size: 18px;
}
.AFF-ThanksFooter {
    width: 100%;
    background-color: #e3490b;
    text-align: center;
    margin-top: 20px;
    padding: 15px;
}
.AFF-ThanksFooter h3 {
    font-family: Chickweed Tilting, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #000000;
    font-size: 30px;
}
.AFF-ThanksFooter h4 a {
    font-family: Komika Title, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #e59908;
    font-size: 25px;
}
.AFF-ThanksFooter h4 a:hover {
    font-family: Komika Title, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #000000;
    font-size: 25px;
}
#AFF-mid-col-craft {
    background-color: #e59908;
    width: 805px;
    padding-bottom: 300px;
}

/* woo commerce */
.woocommerce-page .page-title{
    display: none;
}
.woocommerce-result-count{
    display: none;
}
.woocommerce-ordering{
    display: none;
}
.woocommerce-loop-product__title {
    font-family: Chickweed Tilting, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #000000;
    font-size: 22px;
}
.products .product a,
.products .product a:link,
.products .product a:visited{
    font-family: Komika Title, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #e3490b;
}
.products .product a:hover{
    color: #000000;
}

ul.products.columns-4 li.product {
	width: 30%;
	float: left;
	margin-right: 2%;
}

ul.products.columns-4 li.product:nth-of-type( 3n ) {
    margin-right: 0;
}

ul.products.columns-4 li.product:nth-of-type( 4n ) {
    clear:both;
}

.AFF-Cart{
    font-family: Komika Title, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #000000;
    text-align:right;
    font-size: 20px;
    margin: 8px 0 8px;
}

.woocommerce-product-gallery {
    margin: 0 5px 5px 0;
}
.woocommerce .AFF-GenericBodyContent div.product p.price, 
.woocommerce .AFF-GenericBodyContent div.product span.price,
.woocommerce .AFF-GenericBodyContent ul.products li.product .price,
.AFF-GenericBodyContent .woocommerce-Price-amount {
    color: #e3490b;
}

.woocommerce .AFF-GenericBodyContent #respond input#submit, 
.woocommerce .AFF-GenericBodyContent a.button, 
.woocommerce .AFF-GenericBodyContent button.button, 
.woocommerce .AFF-GenericBodyContent input.button
.woocommerce .AFF-GenericBodyContent #respond input#submit.alt, 
.woocommerce .AFF-GenericBodyContent a.button.alt, 
.woocommerce .AFF-GenericBodyContent button.button.alt, 
.woocommerce .AFF-GenericBodyContent input.button.alt,
.AFF-GenericBodyContent .woocommerce #respond input#submit, 
.AFF-GenericBodyContent .woocommerce a.button, 
.AFF-GenericBodyContent .woocommerce button.button, 
.AFF-GenericBodyContent .woocommerce input.button,
.AFF-GenericBodyContent .woocommerce #respond input#submit.alt, 
.AFF-GenericBodyContent .woocommerce a.button.alt, 
.AFF-GenericBodyContent .woocommerce button.button.alt, 
.AFF-GenericBodyContent .woocommerce input.button.alt
{
    background-color: #e3490b;
    color: #e59908;
}

.woocommerce .AFF-GenericBodyContent #respond input#submit, 
.woocommerce .AFF-GenericBodyContent a.button:hover, 
.woocommerce .AFF-GenericBodyContent button.button:hover, 
.woocommerce .AFF-GenericBodyContent input.button:hover
.woocommerce .AFF-GenericBodyContent #respond input#submit.alt:hover, 
.woocommerce .AFF-GenericBodyContent a.button.alt:hover, 
.woocommerce .AFF-GenericBodyContent button.button.alt:hover, 
.woocommerce .AFF-GenericBodyContent input.button.alt:hover,
.AFF-GenericBodyContent .woocommerce #respond input#submit.alt:hover, 
.AFF-GenericBodyContent .woocommerce a.button.alt:hover, 
.AFF-GenericBodyContent .woocommerce button.button.alt:hover, 
.AFF-GenericBodyContent .woocommerce input.button.alt:hover
{
    background-color: #e3490b;
    color: #000000;
}


.woocommerce .AFF-GenericBodyContent div.product .woocommerce-tabs ul.tabs li.active{
    font-family: Komika Title, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #e3490b;
    border-color: #e3490b;
    color: #000000;
}
.woocommerce .AFF-GenericBodyContent div.product .woocommerce-tabs ul.tabs li {
    font-family: Komika Title, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #e5c588;
    border-color: #e5c588;
    color: #e3490b;
}

.woocommerce .AFF-GenericBodyContent div.product .woocommerce-tabs ul.tabs li a{
    font-family: Komika Title, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #e3490b;
}

.woocommerce .AFF-GenericBodyContent  div.product .woocommerce-tabs ul.tabs::before {
    border-color: #e3490b;
}

.woocommerce .AFF-GenericBodyContent div.product .woocommerce-tabs ul.tabs li.active::before{
    box-shadow: 2px 2px 0 #e3490b;
    border-color: #e3490b;
}
.woocommerce .AFF-GenericBodyContent div.product .woocommerce-tabs ul.tabs li.active::after{
    box-shadow: -2px 2px 0 #e3490b;
    border-color: #e3490b;
}

.woocommerce .AFF-GenericBodyContent div.product .woocommerce-tabs ul.tabs li::after, 
.woocommerce .AFF-GenericBodyContent div.product .woocommerce-tabs ul.tabs li::before {
    border-color: #e5c588;
}

.woocommerce .AFF-GenericBodyContent div.product .woocommerce-tabs ul.tabs li::after {
    box-shadow: -2px 2px 0 #e5c588;
}

.AFF-GenericBodyContent .woocommerce table.shop_table{
    background-color: #e5c588;
}

.woocommerce .col-1 {
    width: auto;
    max-width: 100%;
}
.woocommerce .col-2 {
    width: auto;
    max-width: 100%;
}
.woocommerce form .form-row {
    display:block;
}
